/* login.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #4189dd;
    color: #333;
    margin: 0;
    padding: 0;
}


.form-control {
    border-radius: 0;
    border-color: #ced4da;
}

.form-control:focus {
    border-color: #4189dd;
    box-shadow: 0 0 0 0.25rem rgba(65, 137, 221, 0.25);
}

.btn-primary {
    background-color: #4189dd;
    border-radius: 0;
    border: none;
}

.btn-primary:hover {
    background-color: #1f5ea8;
}

.btn-link i {
    font-size: 24px;
}

.btn-link i:hover {
    color: #4189dd;
}

/* login.css */

/* ... (previously defined styles) ... */

.card {
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    /* Adjust the width as needed */
    max-width: 500px;
    /* Optionally set a max-width for responsiveness */
    margin: 0 auto;
    /* Center the container horizontally */
}

.logos img {
    width: 80px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
}